.query {
    margin: 10px;
    text-align: center;
  }
  
  .query input {
    height: 30px;
  }

  .figure {
    max-width: 400px;
    margin: 10px;
    color: black;
    text-shadow: 0 0 3px;
    font-size: 1em;
  }

  .img{
    max-width: 400px;
    max-height: 400px;
    
  }

  .title{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
  }

  
