.header{
  align-items: center;
  justify-content: center;
}
 
.searchbar {
  box-sizing: border-box;
  border: 2px solid ;
}

.main{
  flex-direction: column;
  display: inline-flex;
  padding-left: 450px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.data{
  max-width: 600px;
  max-height: 400px;
  overflow: auto;
}

.img{
  padding-top: 5px;
  max-height: 500px;
}

 .footer {
    position: fixed;
    bottom: 0;
  }
